<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test2</title>
</head>
<body>
  <div class="header">
      <h1>Student Enrollment Forms</h1>
  </div>
  <div class="container">
    <section class="right-section"> 
      <form #studentForm="ngForm" (ngSubmit)="getStudentFormData(studentForm.value)">
        <div class="form_controller">
            <div class="form_control">
                <label for="name">First Name</label>
                <input type="text" id="name" name="name" placeholder="Enter Name Here" ngModel>
            </div>
  
            <div class="form_control">
               <label for="Email">Email</label>
               <input type="email" id="Email" name="Email" placeholder="Enter Email Here" ngModel>
             </div>
  
            <div class="form_control">
              <label for="website">Website</label>
              <input type="text" id="website" name="website" placeholder="Enter Website Here" ngModel>
           </div>
  
           <div class="form_control">
            <label for="gender">Gender</label>
             <input type="radio" id="male" name="gender" value="Male" ngModel >Male 
             <input type="radio" id="female" name="gender" value="Female" ngModel>Female 
           </div>
  
           <div class="form-control">
            <label for="status">Status</label>
            <select name="staus" id="status" ngModel>
               <option value="active" >Active</option>
               <option value="in-active" >In-Active</option>
            </select>
            
           </div>
          
           <div class="button-container">
            <button type="button">Enroll Students</button>
           
           </div>
           
        </div>
      </form>  
    </section>
    <section  class="left-section">
       <ul>
        <li *ngFor="let student of students">{{student.name}} {{student.email}}{{student.website}}{{student.gender}}{{student.status}}</li>
       </ul>



    </section>
   
  </div>
  
</body>
</html>